<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="coinback">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>coinback</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#todo-list 				{ margin-bottom:30px; }
	</style>

	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
	<script src="controllers/user.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="home">
	<div class="container">

		<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>I'm a Todo-aholic <span class="label label-info">{{ todos.length }}</span></h1>
		</div>

		<!-- TODO LIST -->
		<div id="user-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">

				<!-- LOOP OVER THE TODOS IN $scope.todos -->
				<div class="checkbox" ng-repeat="user in users">
					<div>{{ user.barcodeNum }} / {{ user.phoneNum }}/ {{ user.balance }} </div> 
				</div>

			</div>
		</div>

		<!-- FORM TO CREATE TODOS -->
		<div id="user-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">
						<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
						바코드 넘버 : <input type="text" class="form-control input-lg text-center" ng-model="formData.barcodeNum">
						전화번호 : <input type="text" class="form-control input-lg text-center" ng-model="formData.phoneNum">
						잔액 : <input type="text" class="form-control input-lg text-center" ng-model="formData.balance">
					</div>

					<!-- createToDo() WILL CREATE NEW TODOS -->
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createUser()">Add</button>
				</form>
			</div>
		</div>

	</div>

</body>
</html>